/* Loader-on-modal glitch fix */
.ui.dimmer .ui.workaround.loader:before {
    border-color: rgba(0,0,0,.1);
}

.ui.dimmer .ui.workaround.loader:after {
    border-color: #767676 transparent transparent;
}

.ui.dimmer .ui.workaround.loader {
    color: rgba(0,0,0,.87);
}

/* Reduce contact list header spacing */
.ui.grid.contact-list-header .row:not(:last-child) {
    padding-bottom: 0rem;
}

/* Ensure PeerChat IDs don't overflow their text containers */
.peerchat-id {
    overflow-wrap: break-word;
}

/* Ensure chat window scrolls so that rest of UI—including chat bar—remains visible */
.chat-list {
    overflow-y: auto;
    padding-top: 5px; /* prevents top emoji from being cut off */
    max-height: 60vh;
    max-width: 100% !important;
}

/* Make blocking overlays (database unlock, profile deletion) opaque */
.opaque-overlay {
    background-color: rgba(0, 0, 0, 1) !important;
}

/* Shrink massive emoji-mart preview bar and label & move skin tone setter */
.emoji-mart-preview {
    height: 40px;
}
.emoji-mart-preview-emoji, .emoji-mart-preview-data {
    display: none;
}
.emoji-mart-preview-skins {
    left: 75px;
    right: unset;
}
.emoji-mart-preview::before {
    content: 'Skin tone';
    font-size: 12px;
    position: absolute;
    left: -35px;
    bottom: 15px;
    width: 100px;
    text-align: right;
}

/* Make emoji buttons display inline and emoji appear vertically aligned with buttons */
.inline-button {
    display: inline;
    margin-right: 0.5em !important;
    margin-left: 0.5em !important;
}
.emoji-segment span {
    vertical-align: middle;
}

/* Vertically and horizontally center-align emoji and contact names and avoid emoji causing chat metadata overflow */
.contact-row {
    display: inline-flex;
    align-items: center;
}
.contact-row .emoji-mart-emoji {
    font-size: unset;
    position: absolute;
    overflow: visible;
}
.contact-row .contact-name, .contact-list .contact-row .contact-name:first-child {
    margin-left: 30px;
}
.contact-row .contact-name:first-child {
    margin-left: 0; /* Ensure all names in the contact list are aligned */
}

/* Hacky solution for "how it works" button and modal */
#button-root {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    filter: none !important;
    width: 100%;
}
.how-it-works-button {
    position: absolute;
    right: 1em;
    bottom: 1em;
    z-index: 10001;
    filter: none !important;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20) !important;
}
.how-it-works-modal {
    height: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.how-it-works-modal, .how-it-works-modal * {
    background-color: #1b1c1d !important;
    color: rgba(255, 255, 255, 0.9) !important;
}
.how-it-works-modal .ui.styled.accordion {
    box-shadow: 0 1px 2px 0 rgba(34,36,38,1), 0 0 0 1px rgba(34,36,38,1)
}
.how-it-works-modal .title {
    border: 1px solid rgba(34,36,38,1)
}
.code-link, .code-link:hover {
    text-decoration: underline;
}