/* Loader-on-modal glitch fix */
.ui.dimmer .ui.workaround.loader:before {
    border-color: rgba(0,0,0,.1);
}

.ui.dimmer .ui.workaround.loader:after {
    border-color: #767676 transparent transparent;
}

.ui.dimmer .ui.workaround.loader {
    color: rgba(0,0,0,.87);
}

/* Reduce contact list header spacing */
.ui.grid.contact-list-header .row:not(:last-child) {
    padding-bottom: 0rem;
}

/* Ensure PeerChat IDs don't overflow their text containers */
.peerchat-id {
    overflow-wrap: break-word;
}

/* Ensure chat window scrolls so that rest of UI—including chat bar—remains visible */
.chat-list {
    overflow-y: auto;
    max-height: 60vh;
    max-width: 100% !important;
}

/* Make blocking overlays (database unlock, profile deletion) opaque */
.opaque-overlay {
    background-color: rgba(0, 0, 0, 1) !important;
}

/* Shrink massive emoji-mart preview bar and label & move skin tone setter */
.emoji-mart-preview {
    height: 40px;
}
.emoji-mart-preview-emoji, .emoji-mart-preview-data {
    display: none;
}
.emoji-mart-preview-skins {
    left: 120px;
    right: unset;
}
.emoji-mart-preview::before {
    content: 'Default skin tone';
    font-size: 12px;
    position: absolute;
    left: 10px;
    bottom: 15px;
    width: 100px;
    text-align: right;
}

/* Make emoji buttons display inline */
.inline-button {
    display: inline;
    margin-right: 0.5em !important;
    margin-left: 0.5em !important;
}

/**/
.emoji-segment {
    display: inline;
}
.emoji-segment span {
    vertical-align: middle;
}